<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>price</th>
        <th>market_price</th>
        <th>info</th>
        <th>op</th>
    </tr>

    {% for book in all_books %}
    <tr>

        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.market_price }}</td>
        <td>{{ book.info }}</td>
        <td>
            <a href="update_book/{{ book.id }}">更新</a>
            <a href="delete_book?book_id={{ book.id }}">删除</a>
        </td>

    </tr>
    {% endfor %}

</body>
</html>